.padding-box {
  padding: 30px
}
.contact-content {
  margin: 0 32px;
  padding: 32px;
  background-color: #FFC72E;
  border-radius: 30px;
}
iframe {
  width: 50%;
  height: 50vh;
  border: none;
  border-radius: 30px;
}
.contact-nav {
  position: absolute;
  right: 64px;
  top: 162px;
  width: 400px;
  height: 400px;
  background-color: red;
  border-radius: 30px;
  padding: 20px;
}
.contact-nav a {
  color: #111;
  margin: 8px;
  font-size: 16px;
  text-decoration: none;
}
.contact-nav a:hover {
  text-decoration: underline;
}
ul li {
  font-size: 16px;
}
